$white: #f2f2f2;
$primary: #2fc98e;
$dark-green: #13291d;
$grey: #bdbdbd;
$red: #ff6969;
$black: #242424;

$theme-colors: (
    "primary": $primary,
    "white": $white,
    "success": $primary,
    "secondary": $grey,
    "dark-green": $dark-green,
    "danger": $red,
    "black": $black
);

// Cards
$card-bg: rgba($white, .05);

// Tables
$table-bg: rgba($white, .05);
$table-color: $white;
$table-cell-padding-x: 1.5rem;
$table-cell-padding-y: .8rem;
$table-cell-vertical-align: center;

// Nav
$nav-pills-link-active-color: $white;
$nav-pills-link-active-bg: rgba(47, 201, 142, 0.4);
$nav-link-color: rgba(242, 242, 242, 0.6);


$modal-content-bg: rgba($white, .05);
$modal-content-color: $white;
$modal-content-border-color: rgba($white, .2);
$modal-header-border-color: rgba($white, .2);


$input-bg: rgba($white, .05);
$input-placeholder-color: rgba($white, 0.5);
$input-color: $white;
